body{ background-image: url(../images/foto1.jpeg);}
h1 { color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
h2{color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
p{color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
legend{color: whitesmoke;
font-family: Verdana, Geneva, Tahoma, sans-serif;}